@import url('https://fonts.googleapis.com/css2?family=Margarine&display=swap');
@import 'tailwindcss';


.font-margarine {
  font-family: 'Margarine', cursive;
}

@keyframes gradient-move {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient-move 8s ease infinite;
}